:root {
  width: 1440px;
  height: 1258.544px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

ิิbutton {
  border-radius: 15px;
  background: rgba(183, 104, 254, 0.79);
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  width: 260px;
  height: 65.469px;
  flex-shrink: 0;
}

h1 {
  color: #000;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
}

a:button-above {
  width: 169px;
  height: 37px;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #833BB4;;
    background-color: #ffffff;
  }
  a:hover {
    color:  rgba(183, 104, 254, 0.79);;
  }
  button {
    background-color: #CDCCCC;
  }
}
